asgiref==3.6.0
colorama==0.4.6
comtypes==1.1.14
Django==4.1.7
docx2pdf==0.1.8
et-xmlfile==1.1.0
numpy==1.24.2
opencv-python==4.7.0.72
openpyxl==3.1.1
packaging==23.0
pdf2image==1.16.3
Pillow==9.4.0
PyPDF2==3.0.1
pytesseract==0.3.10
pywin32==305
reportlab==3.6.12
sqlparse==0.4.3
tqdm==4.64.1
tzdata==2022.7
Wand==0.6.11
xlrd==2.0.1
