{% extends "base.html" %}

{% block content %}
  <h1>Word to PDF Conversion</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload and Convert File</button>
  </form>
  {% if error %}
    <p style="color: red">{{ error }}</p>
  {% endif %}
{% endblock %}


<div class="col-lg-3 col-6">

  <div class="small-box bg-info">
  <div class="inner">
  <h3>150</h3>
  <p>New Orders</p>
  </div>
  <div class="icon">
  <i class="ion ion-bag"></i>
  </div>
  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
  </div>
  </div>